/* src/App.css */

.App {
  display: flex;
  flex-direction: column; /* Ensure column layout for header and content */
  height: 100vh; /* Full height for the viewport */
  width: 100%; /* Full width of the viewport */
  margin: 0; /* Remove any default margin */
  box-sizing: border-box; /* Include padding and border in width and height */
}

.App-header {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
}

.App-content {
  display: flex; /* Enable row layout for sidebar and main content */
  flex: 1; /* Take up available space */
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}